<script>

    function cheakerror() {

        // var emailerror = document.getElementById('emailerror').value;
        var emailerror = document.cookie;

        if(emailerror=="error=error") {
            alert("fail connection");
        }
        $.removeCookie("error");
    }
</script>
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href=" /Styles/css/forget-password.css">
<head>

    <meta charset="ISO-8859-1">
    <title>تغییر پست الکترونیک</title>
</head>
<ul class="nospace">
    <li>
        <form name="uploadFiles" method="get" th:action=@{/userPanel} encType="multipart/form-data">
            <button type="submit"   class="buttonlogout"  >
                <i class="fa fa-caret-square-o-left"></i>
            </button>
        </form>
    </li>

    <li>
        <form name="uploadFiles" method="get" th:action=@{/logOut} encType="multipart/form-data">
            <button type="submit"   class="buttonlogout"  >
                <i class="fa fa-sign-out"></i>
            </button>
        </form>
    </li>
</ul>
<body onload="cheakerror()">

<div class="container"   >
    <div class="row"   >

        <div class="col-md-4 col-md-offset-4"  style="background-color:rgba(226,224,224,0.48)">
            <div class="panel panel-default"   style="background-color:rgba(226,224,224,0.47)">
                <div class="panel-body">
                    <div class="text-center" id="text-center2"  >
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">  میخواهید پست الکترونیک خود را تغییر دهید؟</h2>
                        <p>پست الکترونیک خود را وارد کنید.</p>
                        <div class="panel-body" >
                            <form action="#" th:action="@{/api/v3/changeEmail/editeEmailLogin}" method="post" th:object="${user}"
                                    id="register-form" role="form" autocomplete="off" class="form"  >
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"
                                                th:field="*{email}" id="email" name="email" placeholder="پست الکترونیک" class="form-control"  type="email"  >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input style="background-color:rgba(2, 202, 252, 0.87);"  name="recover-submit" class="btn btn-lg btn-primary btn-block" value="کلیک" type="submit">
                                </div>
                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


