<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function verifyPassword() {
        var pw1 = document.getElementById('pwd1').value;
        var pw2 = document.getElementById('pwd2').value;

        if(pw1==pw2) {
            return true;
        } else {
            alert("Password is NOT  CORRECT");
            return false;
        }
    }
</script>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My Login Page</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body {
            background-color: #3e3e3e;
            color: white;
            direction: rtl;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <form onsubmit="return verifyPassword()"  th:action="@{/api/v2/registration/confirm}" class="form-signin" method="post">
        <h2 class="form-signin-heading">پسورد خود را وارد کنید</h2>
        <p>
            <label  th:text="${message}"  > نام كاربر:  </label>
        </p>
        <p>
            <label for="password1">پسورد : </label>
            <input type="password" id="password1"class="form-control" name="password1"/>
        </p>
        <p>
            <label for="password2">تکرار پسورد : </label>
            <input type="password" id="password2"class="form-control" name="password2"/>
        </p>
        <p>
            <input type="submit"
                   data-toggle="collapse" data-target="#FDMainMenu"
                   aria-controls="FDMainMenu" aria-expanded="false"
                   class="col-sm-3"
                   value="ارسال" />
        </p>
    </form>
</div>
</body>
</html>