<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File Upload / Download</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="css/montserrat-font.css">
    <link rel="stylesheet" type="text/css" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" type="text/css" href="/Styles/css/admin-dashboard.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<ul class="nospace">
    <li>
        <form name="uploadFiles" method="get" th:action=@{/api/investmentController/adminInvesment} encType="multipart/form-data">
            <button type="submit"   class="buttonlogout"  >
                <i class="fa fa-caret-square-o-left"></i>
            </button>
        </form>
    </li>

    <li>
        <form name="uploadFiles" method="get" th:action=@{/logOut} encType="multipart/form-data">
            <button type="submit"   class="buttonlogout"  >
                <i class="fa fa-sign-out"></i>
            </button>
        </form>
    </li>
</ul>

<body>


<div class="header">
    <h2></h2>
</div>

<div class="row">
    <div  class="column">
        <div  >
            <table>
                <thead>
                <tr>
                    <th>عنوان</th>
                    <th>توضیحات</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="mainInvestment:${investment}"  action="#"
                    th:action="@{/adminInvesment/viewDetailsInvesment/{fileId}}" method="post" >
                    <td th:text="${mainInvestment.issue}"
                         />
                    <td th:text="${mainInvestment.description}"
                         />
                    <td>
                        <div class="box">
                            <a
                                    th:each="authority : ${#authentication.getAuthorities()}"
                                    th:if="${authority.getAuthority().startsWith('RESPONSIBLE')}"
                                    th:href="@{'/api/investmentController/adminInvesment/viewDetailsInvesment/'+${mainInvestment.id}}" class="btn btn-white btn-animation-1">ویرایش</a>
                        </div>
                    </td>
                    <td>
                        <div class="box">
                            <a   th:href="@{'/api/investmentController/adminInvesment/viewDetailsInvesmenForAdmin/'+${mainInvestment.id}}" class="btn btn-white btn-animation-1">نمایش</a>
                        </div>
                    </td>
                    <td>
                        <div class="box">
                            <a      th:each="authority : ${#authentication.getAuthorities()}"
                                    th:if="${authority.getAuthority().startsWith('ADMIN')}"
                                    th:href="@{'/api/investmentController/adminInvesment/deleteInvesment/'+${mainInvestment.id}}" class="btn btn-white btn-animation-1">پاک کردن</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="column" >

        <div  >
            <table>
                <thead>
                <tr>
                    <th>عنوان</th>
                    <th>توضیحات</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mainInvestment:${answeredInvestment}"  action="#"
                    th:action="@{/adminInvesment/viewDetailsInvesment/{fileId}}" method="post" >
                    <td th:text="${mainInvestment.issue}"

                    />
                    <td th:text="${mainInvestment.description}"

                    />
                    <td>
                        <div class="box">
                            <a   th:href="@{'/api/investmentController/adminInvesment/viewDetailsInvesmenForAdmin/'+${mainInvestment.id}}" class="btn btn-white btn-animation-1">نمایش</a>
                        </div>
                    </td>
                    <td>
                        <div class="box">
                            <a      th:each="authority : ${#authentication.getAuthorities()}"
                                    th:if="${authority.getAuthority().startsWith('ADMIN')}"
                                    th:href="@{'/api/investmentController/adminInvesment/deleteInvesment/'+${mainInvestment.id}}" class="btn btn-white btn-animation-1">پاک کردن</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div  class="column" >

        <div  >
            <table>
                <thead>
                <tr>
                    <th>عنوان</th>
                    <th>توضیحات</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mainInvestment:${closedInvestment}"  action="#"
                    th:action="@{/adminInvesment/viewDetailsInvesment/{fileId}}" method="post" >
                    <td th:text="${mainInvestment.issue}"

                    />
                    <td th:text="${mainInvestment.description}"

                    />
                    <td>
                        <div class="box">
                            <a   th:href="@{'/api/investmentController/adminInvesment/viewDetailsInvesmenForAdmin/'+${mainInvestment.id}}" class="btn btn-white btn-animation-1">نمایش</a>
                        </div>
                    </td>
                    <td>
                        <div class="box">
                            <a
                                    th:each="authority : ${#authentication.getAuthorities()}"
                                    th:if="${authority.getAuthority().startsWith('ADMIN')}"
                                    th:href="@{'/api/investmentController/adminInvesment/deleteInvesment/'+${mainInvestment.id}}" class="btn btn-white btn-animation-1">پاک کردن</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="footer">
    <p></p>
</div>

</body>
</html>